/***DEBUG***/
.debug {
  background-color: red;
}
/***debug-close***/
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

a:hover {
    color: #006aff!important;
  }

.vertical_align_center {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

/***NAVBAR***/
nav {
  background-color: white;
  height: 60px;
}
.navbar {
 min-height: 60px;
}
/***NAVBAR-LEFT***/
.navbar-brand {
  padding: 0 15px;
  height: 60px;
  line-height: 60px;
}
.navbar-brand img {
  width: 172px;
  vertical-align: middle;
  transform: translateY(50%);
}
/* .navbar-toggle {
  /* (60px - button height 34px) / 2 = 13px
  margin-top: 13px;
  padding: 9px 10px !important;
} */
ul.items_nav:first-of-type {
  position: absolute;
  left:50%;
  transform: translateX(-50%);
}
ul.items_nav > li > a {
  padding-left: 10px;
  padding-right: 10px;
}
ul.items_nav > li > a:hover {
  background-color: transparent;
  color: #006aff;
}
.my_dropdown::after{
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  color:inherit;
  margin-left: 2px;
  font-weight: 900;
  font-size: 12px;
  text-decoration:none;
}

/***NAVBAR-LEFT-CLOSE***/
/***NAVBAR-RIGHT***/
span.btn_outline_blue{
  .btn_outline_blue
}
.btn_outline_blue {
  background-color: transparent;
  border: 2px solid #006aff;
  color: #006aff;
}
.btn_outline_blue:hover {
  background-color: #006aff;
  border-color: #006aff;
  color: #fff;
}
#toogle_menu {
  display: none;
}
/***NAVBAR-RIGHT-CLOSE***/
/***NAVBAR-CLOSE***/
/***Jumbotron***/
#jumbotron {
  margin-top: 60px;
  background-image: url('https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg');
  background-size: cover;
  height: 800px;
  background-position: center center;
  backface-visibility: hidden;
  transform: translateZ(0px);
}
#hero-title {
  color: white;
}
section#sing_up + div {
  padding: 50px 20px;
}
#sign_up {
  text-align: center;
}
#sign_up_form input {
  width: 100%;
  margin: 5px 0;
}

#btn_form_signup {
  background-color: #579aff;

}
#signup_with_g {
  margin: 5px 0;
  background-color: white;
  border:2px outset rgba(255,255,255, 0.3);;
}
/* responsive */
@media (max-width: 992px) {
  ul.items_nav{
    display: none;
  }
  #toogle_menu span {
    width: 20px;
    border-bottom: 2px solid #006aff;
    margin:5px;
    display: block;
  }
  #toogle_menu {
    width: 60px;
    display: inline-block;
    position: relative;
    float: right;
    line-height: 60px;
  }
}
