/*for font and text changes see font/font.css/
/***DEBUG***/
.debug {
  background-color: red;
}
.debug [class*="col-"]{
  height: 300px;
  background-color: pink;
  border: 1px solid darkolivegreen;
}
.debug [class*="offset"] {
  height: 300px;
  background-color: blue;
  border: 1px solid darkolivegreen;
}
/***debug-close***/
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

a:hover {
    color: #006aff;
    text-decoration: none;
  }

  .bg_grey {
    background-color:#f3f5f9;
  }

  .bg_white {
    background-color:white;
  }

.vertical_align_center {
  position: relative;
  top: 50%;
}

.link_arrow_blu {
  display: inline-block;
  color: #0069ff;
  font-size: 15px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
}

#description_deploy, #buildbusiness_section h2, #carousel_section.container > p {
  margin-bottom: 64px;
}

#get_started, #logistic_server_section {
  background: linear-gradient(0deg, rgba(0,33,156,1) 5%, rgba(0,49,174,1) 39%, rgba(0,70,196,1) 100%);
}


/***HEADER***/
/***NAVBAR***/
ul.items_nav > li nav, #navbar_brand, ul.items_nav > li > a {
  height: 60px;
}

#nav {
 min-height: 60px;
}
/***navbar-left***/
#navbar_brand {
  padding: 0 15px;
  line-height: 60px;
}
#navbar_brand img {
  width: 172px;
  vertical-align: middle;
  transform: translateY(50%);
}

#toogle_menu {
  display: none;
}

ul.items_nav:first-of-type {
  position: absolute;
  left:50%;
  transform: translateX(-50%);
}

ul.items_nav > li > a {
  padding: 0 10px;
  vertical-align: middle;
  line-height: 60px;
}
ul.items_nav > li:active:not(#sign_up_nav) {
  border-bottom: 3px solid  #006aff;
}

.btn_outline_blue, ul.items_nav > li > a:hover {
  background-color: transparent;
  color: #006aff;
}
.my_dropdown::after{
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  color:inherit;
  margin-left: 2px;
  font-weight: 900;
  font-size: 12px;
  text-decoration:none;
}

/***navbar-left-CLOSE***/
/***navbar-right***/
.btn_outline_blue {
  border: 2px solid #006aff;
}
.btn_outline_blue:hover {
  background-color: #006aff;
  border-color: #006aff;
  color: #fff;
}

/***navbar-right-CLOSE***/
/***NAVBAR-CLOSE***/

/***Jumbotron***/
#jumbotron {
  margin-top: 60px;
  background-image: url('https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg');
  background-size: cover;
  min-height: 800px;
  max-height: 1180px;
  background-position: center center;
  backface-visibility: hidden;
  transform: translateZ(0px);
}

/***section-hero***/

/***section-hero-CLOSE***/
/***section-signup***/
section#sing_up + div {
  padding: 50px 20px;
}

#sign_up .panel {
  border-radius: 6px;
  padding-top: 30px;
  min-height: 420px;
  max-height: 600px;
}
#sign_up_form input {
  width: 100%;
  padding-left: 10px;
  margin: 5px 0;
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 50px;
}
#sign_up_form input:focus {
  border-color: rgb(0, 105, 255);
  outline: rgb(0, 105, 255);
}

#btn_form_signup {
  background-color: #579aff;
  font-size: 0.9em;
  font-weight: 500;
}
#signup_with_g {
  background-color: white;
  margin: 5px 0;
  color: #626262;
  font-size: 0.9em;
  font-weight: 500;
  border:2px outset rgba(255,255,255, 0.3);
}
#btn_form_signup:hover, #signup_with_g:hover {
  opacity: 0.6;
}
#signup_with_g img {
  height: 30px;
}

/***section-signup-CLOSE***/
/***Jumbotron-CLOSE***/
/***HEADER-CLOSE***/
/***MAIN***/
.padding_section_64 {
  padding-top: 64px;
  padding-bottom: 64px !important;
}
.padding_section_120 {
  padding-top: 120px;
  padding-bottom: 120px;
}
/***section-section_parteners***/
.parteners_brands {
  height: 150px;
  vertical-align: middle;
}
/***section-section_parteners-CLOSE***/
/***SECTION DEPLOY AND SCALE***/
#deploy_items_menu, #deploy_items .col-sm-6 {
  margin-bottom: 32px;
}

ul#menu_tab_services {
  padding-left: 0;
  list-style: none;
  color: rgba(3,27,78,.5);

}
ul#menu_tab_services li {
  padding: 16px 32px 16px 16px;
  border-left: 2px solid #e5e8ed;
}
ul#menu_tab_services li:hover {
  color: #031b4e;
  cursor: pointer;
}
ul#menu_tab_services li:active{
  border-left: 2px solid  #0069ff;
}

/***SECTION DEPLOY AND SCALE-CLOSE***/
/***carousel section***/

#slider_img {
  position: relative;
  height:calc(100% - 45.6px);
  background: url("../img/screen-shot.png")no-repeat;
  background-size: contain;
  background-position: center;
}
#slider, .carousel .col-sm-2{
 height: 570px;
}

.btn_next::after {
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  color:inherit;
  font-weight: 900;
  font-size: 40px;
  text-decoration:none;
  margin-left: 5px;

}
.btn_back {
  float: right;
  margin-right: -15px;
}
.btn_next, .btn_back {
  cursor: pointer;
}
.btn_next {
  float: left;
  margin-left: -15px;
}
.btn_back::after {
  font-family: "Font Awesome 5 Free";
  content: "\f053";
  color:inherit;
  font-weight: 900;
  font-size: 40px;
  text-decoration:none;
  margin-right: 5px;
}
.carousel span[class*="btn_"]:hover {
  color: #0069ff;
}
.carousel span[class*="btn_"]:active {
  border: 2px solid  #0069ff;
}
.carousel span[class*="btn_"] {
  display: block;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/***DOT LIST***/
ul.selection_dot {
  list-style: circle;
  position: relative;
  padding-left: 0;
}
ul.selection_dot li {
  display: inline-block;
  color: #0069ff;;
  cursor: pointer;
}
ul.selection_dot li::after{
  content: "\25CB";
  color:inherit;
  display: inline-block;
  font-weight: 900;
  font-size: 24px;
}
.dot_now::after {
  content: "\25CF"!important;
}
/***carousel section-CLOSE***/
/* buildbusiness_section */
#buildbusiness_section img {
  margin-bottom: 13px;
}
#buildbusiness_section a.link_arrow_blu {
  margin-top: 0;
}
/* buildbusiness_section-CLOSE */
/***logistic_server_section***/
#logistic_server_section {
  background: linear-gradient(0deg, rgba(0,33,156,1) 5%, rgba(0,49,174,1) 39%, rgba(0,70,196,1) 100%);
}
/***table server***/
table.region_server tbody tr td, table.region_server tbody tr th {
  border-top: 0;
}
table.region_server tbody tr {
  border-top: 1px solid rgba( 255, 255, 255, 0.4 )
;
}

table.region_server tbody tr:first-child {
  border-top: none !important;
}

#second_table table.region_server tbody tr:nth-child(2n+2), #fist_table table.region_server tbody tr:nth-child(2n+1) {
  border-top: 1px solid white;
;}

/***table server-CLOSE***/
/***logistic_server_section-CLOSE***/
#slider_teams  {
  min-height: 470px;
  max-height: 600px;
}
#development_teams .carousel .col-sm-2 {
  height: 400px; /*modificare */
}
#teams_log {
  width: 100%;
}

#teams_log img {
  max-width: 200px;
  margin-bottom: 36px;
}
/***development_teams***/
/***development_teams-CLOSE***/
/***section_get_started****/
#get_started a {
  background-color: #fff;
    border: none;
    color: #0069ff;
    font-weight: 500;
}
#get_started a:hover {
background-color:rgba(255, 255, 255, 0.7)

}
/***section_get_started-CLOSE****/
/***MAIN-CLOSE***/
/***FOOTER***/
footer {
  background-color: #010E28;
}
footer ul > li {
  list-style: none;
  margin-bottom: 10px;
}
p#copyright {
  margin: 16px 0;
}
p#copyright span {
  display: block;
}
/***FOOTER-CLOSE***/
/***chat widget***/
#widget_chat {
  width: 350px;
  position:fixed ;
  bottom: 20px;
  right: 20px;
}
#ballon_chat {
	position: relative;
	border-radius: 5px;
  padding: 10px 10px;
  background-color: white;
  max-height: 100px;
  min-height: 50px;
}

#ballon_chat:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid white;
  margin-top: -8px;
	margin-right: -10px;
	transform: translateY(50%);
}

#avatar_bot {
  line-height: 50px;
}
#avatar_bot img {
  height: 50px;
  border-radius: 5px;
  vertical-align: middle;
}

span.my_bage {
  display: block;
  height:25px;
  width: 25px;
  line-height: 21px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  border: 2px solid white;
  color: white;
  font-size: 12px;
  background-color: red;
  margin-left: 25px;
  margin-top: -10px;
}

/* responsive */
/* table */
 @media (max-width: 992px) {
ul.items_nav {
  display: none;
}

.navbar-header {
  width:calc(100% + 15px);
}

  #toogle_menu span {
    width: 20px;
    border-bottom: 2px solid #006aff;
    margin:5px;
    display: block;
  }
  #toogle_menu {
    width: 60px;
    display: inline-block;
    position: relative;
    line-height: 60px;
  }

  #slider, .carousel .col-sm-2 {
    height:390px;
  }

  #widget_chat {
    left: 20px;
  }

   #avatar_bot {
    margin-bottom: 10px;
  }
  #ballon_chat {
    width: 80%;
  }

}
/* smartphone */
@media (max-width: 766px) {

  #section_parteners img[src*="hashicorp"] {
    padding: 15px;
  }
    #teams_log, #slider_img {
    max-width: 300px;
    margin: auto;
  }

}
